{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">

        <div class="card p-4 shadow">
            <h2 class="text-center mb-4">✏️ Edytuj post</h2>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Tytuł</label>
                    {{ form.name }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Opis</label>
                    {{ form.description }}
                </div>

                <div class="mb-3">
                    <label class="form-label">Zdjęcie</label>
                    {{ form.image }}
                </div>

                <div class="d-flex justify-content-between">
                    <a href="/" class="btn btn-secondary">Powrót</a>
                    <button type="submit" class="btn btn-warning">Zapisz zmiany</button>
                </div>

            </form>
        </div>

    </div>
</div>

{% endblock %}